/* выбрать  палитру
#212121  черный вторичный 
#2196F3 голубой  ссылки  кнопка
#757575  серый -  основной  
#FFFFFF  белый Н1 и   цвет фона основной
#000000  черный  логотип
rgba(255, 255, 255, 0.6)  контакты  футер 
#2F303A  цвет фон героя и футера

 */
:root {
  --primary-text-color: #757575;
  --first-accent-color: #2196f3;
  --title-color: #212121;
  --second-accent-color: #ffffff;
  --logo-color: #000;

  --hero-footer-color: #2f303a;
  --footer-contacts-color: rgba(255, 255, 255, 0.6);
  --team-bcg-color: #f5f4fa;

  --main-font: 'Roboto', sans-serif;
  --logo-font: 'Raleway', sans-serif;
}
body {
  font-family: var(--main-font);
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  background-color: var(--second-accent-color);
}
.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}
.list {
  list-style: none;
}
.logo {
  font-family: var(--logo-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--logo-color);
  text-decoration: none;
}

.first-acent {
  color: var(--first-accent-color);
}
.second-acent {
  color: var(--second-accent-color);
}
.link {
  color: var(--title-color);
  text-decoration: none;
}
.link:hover,
.link:focus {
  color: var(--first-accent-color);
}
.current {
  color: var(--first-accent-color);
}
.contacts .link {
  color: var(--primary-text-color);
}
.contacts .link:hover,
.contacts .link:focus {
  color: var(--first-accent-color);
}
.site-nav .link,
.contacts .link {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.button {
  color: var(--second-accent-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  text-align: center;
  background-color: var(--first-accent-color);

  cursor: pointer;
}
.button:hover,
.button:focus {
  background-color: var(--primary-text-color);
}
.button-filter {
  color: var(--title-color);
  font-weight: 600;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
  background-color: var(--team-bcg-color);
  cursor: pointer;
}
.button-filter:hover,
.button-filter:focus {
  background-color: var(--first-accent-color);
  color: var(--second-accent-color);
}
/* hero    */
.hero,
.address {
  background-color: var(--hero-footer-color);
}
.hero-title {
  color: var(--second-accent-color);

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
}
/* section */
.section-title {
  color: var(--title-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}
.feature-title {
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  text-align: left;
}

.team {
  background-color: var(--team-bcg-color);
}
.team-item {
  background-color: var(--second-accent-color);
  text-align: center;
}

.team-title {
  font-size: 16px;
  color: var(--title-color);
  font-weight: 500;
  line-height: 1.19;
}
.position {
  font-size: 16px;
  line-height: 1.19;
  color: var(--primary-text-color);
}

.client-title {
  color: var(--title-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.filter-item {
  font-size: 16px;
  line-height: 1.88;
}
.client-title,
.filter-item {
  text-align: left;
}
.address {
  font-style: normal;
}
.map-place {
  color: var(--second-accent-color);
}
.address .link {
  color: var(--footer-contacts-color);
}
.address .link:hover,
.address .link:focus {
  color: var(--first-accent-color);
}
/* картинки в портфолио  и сделать ссылками  */
