/* выбрать  палитру
#212121  черный вторичный 
#2196F3 голубой  ссылки  кнопка
#757575  серый -  основной  
#FFFFFF  белый Н1 и   цвет фона основной
#000000  черный  логотип
rgba(255, 255, 255, 0.6)  контакты  футер 
#2F303A  цвет фон героя и футера

 */
:root {
  --primary-text-color: #757575;
  --first-accent-color: #2196f3;
  --title-color: #212121;
  --second-accent-color: #ffffff;
  --logo-color: #000;
  --hero-footer-color: #2f303a;
  --footer-contacts-color: rgba(255, 255, 255, 0.6);
  --team-bcg-color: #f5f4fa;
}
body {
  background-color: var(--second-accent-color);
  color: var(--primary-text-color);
  font-family: Roboto, sans-serif;
  line-height: 2;
  letter-spacing: 0.03em;
}
.list {
  list-style: none;
}
.logo {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--logo-color);
  text-decoration: none;
}
/* .logo:hover,
.logo:focus {
  color: var(--first-accent-color);
}  надо  это или нет? */

.first-acent {
  color: var(--first-accent-color);
}
.second-acent {
  color: var(--second-accent-color);
}
.link {
  color: var(--title-color);
  text-decoration: none;
}
.link:hover,
.link:focus {
  color: var(--first-accent-color);
}
.site-nav .link.current {
  color: var(--first-accent-color);
}
.contacts .link {
  color: var(--primary-text-color);
}
.contacts .link:hover,
.contacts .link:focus {
  color: var(--first-accent-color);
}
/* hero    */
.hero,
.bottomn {
  background-color: var(--hero-footer-color);
}
.hero-title {
  color: var(--second-accent-color);

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
}
/* section */
.section-title {
  color: var(--title-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}
.title {
  color: var(--title-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.15;
  letter-spacing: 0.06em;
}
.button {
  color: var(--second-accent-color);
  background-color: var(--first-accent-color);

  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  text-align: center;
  letter-spacing: 0.06em;

  cursor: pointer;
}
.button:hover,
.button:focus {
  background-color: var(--primary-text-color);
}
.button-filter {
  cursor: pointer;
}
.button-filter:hover,
.button-filter:focus {
  background-color: var(--first-accent-color);
  color: var(--second-accent-color);
}
.section.team {
  background-color: var(--team-bcg-color);
}
.list-item {
  background-color: var(--second-accent-color);
}
.site-nav .link,
.list-item .title {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
}
.site-nav .link,
.contacts .link {
  letter-spacing: 0.02em;
}
.list-item .title {
  font-size: 16px;
  text-align: center;
}
.position {
  line-height: 1.19;
  text-align: center;
}
.map-place {
  color: var(--second-accent-color);
}
.bottomn .link {
  color: var(--footer-contacts-color);
  font-style: normal;
}
.bottomn .link:hover,
.bottomn .link:focus {
  color: var(--first-accent-color);
}
.client-title {
  color: var(--title-color);
  font-weight: 700;
  font-size: 18px;
  letter-spacing: 0.06em;
  text-align: left;
}
/* color: var(--title-color);
  font-size: 16px;
  line-height: 1.19;
  text-align: left; */
